body {
    display : flex;
    justify-content: center;
    align-content: center;
}

#calculator {
    min-height: 800px;
    min-width: 700px;
    background-color: #AABAFB;
    padding: 40px;
}

#display {
    min-height: 150px;
    min-width: 650px;
    background-color: slategrey;
}

#buttons {
    min-height: 150px;
    min-width: 650px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#operators {
    display: flex;
    flex-direction: column;
}